/* Base */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

/* Utils */
/* Couleurs Principales */
/* Couleurs Utilitaires */
/* Typographie */
/* Layouts */
.logo-title {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  text-align: center;
  padding: .7rem 0;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

/* Composants */
/* Pages */
body {
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

/* Section Localisation */
.localisation {
  background-color: #eaeaea;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.localisation-icon {
  margin-right: 1rem;
}

.localisation-text {
  font-weight: 500;
  font-size: .9rem;
}

/* Section Presentation */
.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #f6f6f6;
  padding: 2rem 0;
}

.presentation-title {
  width: 70%;
  font-size: 1.6rem;
  font-weight: 700;
}

.presentation-desc {
  width: 80%;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 1rem 0;
}

.presentation-button {
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  padding: 1rem 1.4rem;
  margin: 1rem 0;
}

/* Section Progress */
.progress {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem 1.2rem;
}

.progress-global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.progress-global-item {
  background-color: #f6f6f6;
  padding: 1.5rem;
  margin-left: .5rem;
  border-radius: 25px;
  position: relative;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}

.progress-global-item-number {
  position: absolute;
  left: -.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50px;
  background: #9356DC;
  color: white;
  font-size: .7rem;
}

.progress-global-item-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress-global-item-desc-icon {
  margin: 0 1.5rem 0 .7rem;
  color: #353535;
}

.progress-global-item-desc-text {
  font-weight: 700;
}

.restaurant {
  background: #eaeaea;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem 1.2rem;
}

.restaurant-global {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant-card {
  background: white;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}

.restaurant-card-img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant-card-desc {
  padding: .8rem 1rem;
}

.restaurant-card-name {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5rem;
}

.restaurant-card-name span {
  text-transform: uppercase;
}

.restaurant-card-ville {
  font-size: .9rem;
}

.restaurant-card-icon {
  position: absolute;
  font-size: 1.5rem;
  bottom: 1.5rem;
  right: 1.5rem;
}
/*# sourceMappingURL=style.css.map */