
.book{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:100px;
    height:60px;
    background: $couleur-principale; 
    border: 5px solid $couleur-secondaire;
    border-radius: 5px;
    z-index: 2;
    &_page{
      position: absolute;
      top:-5px;
      right:-5px;
      width:50px;
      height:60px;
      border-top: 5px solid $couleur-secondaire;
      border-right: 5px solid $couleur-secondaire;
      border-bottom: 5px solid $couleur-secondaire;
      border-radius: 5px;
      background: $couleur-principale; 
      transform-origin: left;
      animation: rotate 1.2s linear 2 both;
     }
  }
  .page1{
    animation-delay: 0s;
  }
  .page2{
    animation-delay: 0.6s;
  }
  
  
  
  @keyframes rotate{
    0%{
      transform: perspective( 600px ) 
        rotateY( -0deg );
    }
  
    20%{
      background:darken($couleur-principale,4%);
    }
    
    29.9%{
        background:darken($couleur-principale,0%);
    }
    
    30%{
      transform: perspective( 200px ) 
        rotateY( -90deg );
    }
    55%{
      opacity:1;
    }
    59.9%{
      opacity:0;
    }
    60%{
      transform: perspective( 600px )
      rotateY( -180deg );
    }
    
    100%{
    transform: perspective( 600px )
      rotateY( -180deg );
    }
  }