/* Génaral */
body{
    font-family: $font-sans-serif;
}

a{
    color: black;
    text-decoration: none;
}


/* Fond loader*/
.load-wrapper{
    width:100%;
    height: 100vh;
    background: white;  
    opacity:1;
    position: fixed;
    animation: load-wrapper 3s both;
  }


/* Titre */
.title{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 2.5rem 0 2rem; 
}


/* Section Localisation */
.localisation{
    @extend %flex-center;
    background-color: $fond-gris-localisation;
    padding: 1rem 0;
    &-icon{
        margin-right:1rem ;
    }
    &-text{
        font-weight: 500;
        font-size: 1rem;
    }  
}


/* Section Presentation */
.presentation{
    @extend %flex-center;
    flex-direction: column;
    text-align: center;
    background-color: $fond-gris-restaurant;
    padding: 2.5rem 0;
    &-title{
        width: 70%;
        font-size: 1.5rem;
        font-weight: 700;
    }
    &-desc{
        width: 80%;
        font-size: 1.1rem;
        font-weight: 300;
        margin: .5rem 0 1rem 0;
    }
} 


/* Section Progress */
.progress{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1.2rem 2.8rem 1.2rem  ;
    &-global{
        display: flex;
        flex-direction: column;
        &-item{
            display: flex;
            align-items: center;
            background-color: $fond-gris-restaurant;
            padding: 1.7rem 1.5rem;
            margin-left: .5rem;
            border-radius: 25px;
            position: relative;
            margin-bottom: 1.5rem;
            transition: .3s;
            @extend %shadow;
            &-number{
                @extend %flex-center;
                position: absolute;
                left: -.7rem;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50px;
                background: $couleur-principale;
                color: white;
                font-size: .9rem;
            }
            &-desc{
                display: flex;
                align-items: center;
                &-icon{
                    margin: 0 1.5rem 0 .7rem;
                    color: $fond-gris-icon;
                    font-size: 1.3rem;
                }
                &-text{
                    font-weight: 700;
                }
            }
        }
    }
}


/* Section restaurant */
.restaurant{
    background: $fond-gris-restaurant;
    padding: 0 1.2rem 3rem  ;
    &-global{
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    &-card{
        background: white;
        border-radius: 1rem;
        overflow: hidden;
        position: relative;
        margin-bottom: 1rem;
        @extend %shadow;
        transform: scale(1);
        transition: .3s;

        &-img{
            width: 100%;
            height: 180px;
            object-fit: cover;
        }
        &-desc{
            padding: .8rem 1rem;
        }
        &-name{
            font-size: 1.1rem;
            font-weight: 900;
            line-height: 1.5rem;
            span{
                text-transform: uppercase;
            }
        }
        &-ville{
            font-size: 1rem;
        }
        &-icon{
            position: absolute;
            font-size: 1.5rem;
            bottom: 1.5rem;
            right: 1.5rem;
        }
    }  
}

.flag-new{
    background: $couleur-tertiaire;
    color: $font-vert;
    font-weight: 700;
    border-radius: .2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .2rem .8rem;
  }


/* Hover */
.progress-global-item:hover {
    background: lighten($couleur-principale,35%);
    @extend %light-shadow;
}

.progress-global-item:hover .progress-global-item-desc-icon {
    color: $couleur-principale;
}
 
.restaurant-card:hover{
    @extend %light-shadow;
    transform: scale(1.05);
}


