/* Couleurs Principales */
$couleur-principale : #9356DC;
$couleur-secondaire : #FF79DA;
$couleur-tertiaire : #99E2D0;

/* Couleurs Utilitaires */
$fond-gris-localisation : #eaeaea;
$fond-gris-restaurant : #f6f6f6;
$fond-gris-icon : #7e7e7e;
$fond-gris-footer : #353535;

/* Font Typographie */
$font-cursive: 'Shrikhand', cursive;
$font-sans-serif: 'Roboto', sans-serif;

/* Couleur Typographie */
$font-vert : #008766;