/* Couleurs Principales */
$couleur-principale : #9356DC;
$couleur-secondaire : #FF79DA;
$couleur-tertiaire : #99E2D0;

/* Couleurs Utilitaires */
$fond-gris-principal : #eaeaea;
$fond-gris-secondaire : #f6f6f6;
$bg-fond-sombre : #353535;


/* Typographie */
$font-cursive: 'Shrikhand', cursive;
$font-sans-serif: 'Roboto', sans-serif;